<div class="grid grid-cols-2 gap-4">
    <div>
      <%= form.label :nombre, "Nombre" %>
      <%= form.text_field :nombre, class: "form-input" %>
    </div>
    <div>
      <%= form.label :apellido_paterno, "Apellido Paterno" %>
      <%= form.text_field :apellido_paterno, class: "form-input" %>
    </div>
    <div>
      <%= form.label :apellido_materno, "Apellido Materno" %>
      <%= form.text_field :apellido_materno, class: "form-input" %>
    </div>
    <div>
      <%= form.label :curp, "CURP" %>
      <%= form.text_field :curp, class: "form-input" %>
    </div>
    <div>
      <%= form.label :nivel_socioeconomico, "nivel socieconomico" %>
      <%= form.text_field :nivel_socioeconomico, class: "form-input" %>
    </div>
    <div>
      <%= form.label :tipo_sanguineo, "Tipo de sangre" %>
      <%= form.text_field :tipo_sanguineo, class: "form-input" %>
    </div>
    <div>
      <%= form.label :discapacidad, "Discapacidad" %>
      <%= form.text_field :discapacidad, class: "form-input" %>
    </div>
    <div>
      <%= form.label :grupo_etnico, "Grupo Etnico" %>
      <%= form.text_field :grupo_etnico, class: "form-input" %>
    </div>
    <div>
      <%= form.label :religion, "Religion" %>
      <%= form.text_field :religion, class: "form-input" %>
    </div>
    
    <%= form.fields_for :direccion, @paciente.direccion do |direccion_form| %>
    <div>
      <%= direccion_form.label :correo_electronico, "Gmail" %>
      <%= direccion_form.text_field :correo_electronico, class: "form-input" %>
    </div>
    <div>
      <%= direccion_form.label :telefono_principal, "Telefono Principal" %>
      <%= direccion_form.text_field :telefono_principal, class: "form-input" %>
    </div>
    <div>
      <%= direccion_form.label :telefono_emergencia, "Telefono de emergencia" %>
      <%= direccion_form.text_field :telefono_emergencia, class: "form-input" %>
    </div>
    <div>
      <%= direccion_form.label :estado, "Estado" %>
      <%= direccion_form.text_field :estado, class: "form-input" %>
    </div>
    <div>
      <%= direccion_form.label :municipio, "Municipio" %>
      <%= direccion_form.text_field :municipio, class: "form-input" %>
    </div>
    <div>
      <%= direccion_form.label :localidad, "Localidad" %>
      <%= direccion_form.text_field :localidad, class: "form-input" %>
    </div>
    <div>
      <%= direccion_form.label :calle, "Calle" %>
      <%= direccion_form.text_field :calle, class: "form-input" %>
    </div>
    <div>
      <%= direccion_form.label :code_postal, "Codigo Postal" %>
      <%= direccion_form.text_field :code_postal, class: "form-input" %>
    </div>
    <% end %>
  </div>
  <div class="mt-4">
    <%= form.submit "Guardar", class: "bg-green-
    500 px-6 py-2 rounded-md font-semibold tracking-wide hover:bg-green-600 focus:outline-none focus:ring-2 focus:ring-green-500" %>
  </div>
