<div class="bg-white p-8 rounded-md w-full shadow-md rounded-lg overflow-hidden">
  <!-- Encabezado -->
  <div class="flex items-center justify-between pb-6 border-gray-200 border-b">
    <div>
      <h2 class="text-gray-700 font-semibold text-lg">Pacientes</h2>
      <span class="text-sm text-gray-500">Lista de pacientes registrados</span>
    </div>

    <div class="flex items-center space-x-4">
      <!-- Barra de búsqueda -->
      
      <div class="flex items-center bg-gray-100 px-4 py-2 rounded-md shadow-sm">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 text-gray-400" viewBox="0 0 20 20" fill="currentColor">
          <path fill-rule="evenodd" d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z" clip-rule="evenodd" />
        </svg>
        <%= form_with url: pacientes_path, method: :get, local: true, class: "flex items-center w-full" do |form| %>
          <input type="text" name="nombre" class="flex-grow bg-gray-100 outline-none ml-3 p-2 text-gray-800 border border-gray-300 rounded-md focus:ring focus:ring-indigo-300 focus:border-indigo-500" placeholder="Buscar por nombre, apellido o CURP...">
          <%= form.submit "Buscar", class: "px-4 py-2  bg-teal-500 text-white rounded hover:bg-[#3D8D7A]" %>
        <% end %>
      </div>
      
      <!-- Botón nuevo paciente -->
      <div>
        <%= link_to "Nuevo Paciente", new_paciente_path, class: "px-4 py-2  bg-teal-500 text-white rounded hover:bg-[#3D8D7A]" %>
      </div>
    
    </div>
  </div>

  <!-- Tabla de pacientes -->
  <div class="px-4 sm:px-8 py-4 overflow-x-auto">
    <div class="inline-block min-w-full shadow-md rounded-lg overflow-hidden">
      <table class="min-w-full leading-normal">
        <thead>
          <tr class="bg-gray-100">
            <th class="px-5 py-3 text-left text-xs font-semibold text-gray-600 uppercase">Nombre</th>
            <th class="px-5 py-3 text-left text-xs font-semibold text-gray-600 uppercase">CURP</th>
            <th class="px-5 py-3 text-left text-xs font-semibold text-gray-600 uppercase">Teléfono</th>
            <th class="px-5 py-3 text-left text-xs font-semibold text-gray-600 uppercase">Tipo de Sangre</th>
            <th class="px-5 py-3 text-left text-xs font-semibold text-gray-600 uppercase">Fecha de Registro</th>
            <th class="px-5 py-3 text-center text-xs font-semibold text-gray-600 uppercase">Acciones</th>
          </tr>
        </thead>
        <tbody>
          <% @pacientes.each do |paciente| %>
            <tr class="border-b border-gray-200">
              <td class="px-5 py-4 text-gray-900"> <%= "#{paciente.nombre} #{paciente.apellido_paterno} #{paciente.apellido_materno}" %> </td>
              <td class="px-5 py-4 text-gray-900"> <%= paciente.curp %> </td>
              <td class="px-5 py-4 text-gray-900"> <%= paciente.direccion&.telefono_principal %> </td>
              <td class="px-5 py-4 text-gray-900"> <%= paciente.tipo_sanguineo %> </td>
              <td class="px-5 py-4 text-gray-900"> <%= paciente.created_at.strftime("%d/%m/%Y") %> </td>
              <td class="px-5 py-4 text-center">
                <div class="flex justify-center space-x-4">
                  <%= link_to paciente_path(paciente), class: "text-blue-500 hover:text-blue-700" do %>
                    <%= heroicon "eye", variant: :outline, class: "w-6 h-6" %>
                  <% end %>
                  <%= link_to edit_paciente_path(paciente), class: "text-yellow-500 hover:text-yellow-700" do %>
                    <%= heroicon "pencil-square", variant: :outline, class: "w-6 h-6" %>
                  <% end %>
                  <%= button_to paciente_path(paciente), method: :delete, class: "text-red-500 hover:text-red-700" do %>
                    <%= heroicon "trash", variant: :outline, class: "w-6 h-6" %>
                  <% end %>
                </div>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
