<div class="max-w-4xl mx-auto bg-white shadow-lg rounded-lg p-6">
  <h1 class="text-3xl font-bold text-gray-800 mb-4">Registrar Historial Clínico</h1>

  <%= form_with(model: @historial_clinico , url: paciente_medical_records_path(paciente_id: @paciente.id ), method: "post", local: true) do |f| %> 

    <div class="mb-4">
      <%= f.label :medico, "Médico", class: "block text-gray-700 font-semibold mb-1" %>
      <%= f.text_field :medico, class: "w-full p-2 border border-gray-300 rounded-lg focus:ring-2 focus:ring-blue-400 outline-none" %>
    </div>

    <div class="mb-4">
      <%= f.label :historial_clinico, "Historial Clínico", class: "block text-gray-700 font-semibold mb-1" %>
      <%= f.text_area :historial_clinico, class: "w-full p-2 border border-gray-300 rounded-lg focus:ring-2 focus:ring-blue-400 outline-none h-24" %>
    </div>

    <div class="mb-4">
      <%= f.label :acciones_tomadas, "Acciones Tomadas", class: "block text-gray-700 font-semibold mb-1" %>
      <%= f.text_area :acciones_tomadas, class: "w-full p-2 border border-gray-300 rounded-lg focus:ring-2 focus:ring-blue-400 outline-none h-24" %>
    </div>

    <div class="mb-4">
      <%= f.label :riesgos_identificados, "Riesgos Identificados", class: "block text-gray-700 font-semibold mb-1" %>
      <%= f.text_area :riesgos_identificados, class: "w-full p-2 border border-gray-300 rounded-lg focus:ring-2 focus:ring-blue-400 outline-none h-24" %>
    </div>

    <div class="flex space-x-4">
      <%= f.submit "Guardar", class: "bg-blue-500 text-white px-4 py-2 rounded-lg hover:bg-blue-600 transition w-full" %>
      <%= link_to "Cancelar", paciente_path(@paciente), class: "bg-gray-400 text-white px-4 py-2 rounded-lg hover:bg-gray-500 transition w-full text-center" %>
    </div>

  <% end %>
</div>
